# **Importation**

In [ ]:
import pandas as pd

In [ ]:
%%bash
wget https://s3-eu-west-1.amazonaws.com/static.oc-static.com/prod/courses/files/parcours-data-analyst/DAN-P4-FAO.zip
unzip DAN-P4-FAO.zip

Archive:  DAN-P4-FAO.zip
  inflating: dispo_alimentaire.csv
  inflating: population.csv
  inflating: sous_nutrition.csv
  inflating: aide_alimentaire.csv

--2022-05-27 08:25:41--  https://s3-eu-west-1.amazonaws.com/static.oc-static.com/prod/courses/files/parcours-data-analyst/DAN-P4-FAO.zip
Resolving s3-eu-west-1.amazonaws.com (s3-eu-west-1.amazonaws.com)... 52.218.84.210
Connecting to s3-eu-west-1.amazonaws.com (s3-eu-west-1.amazonaws.com)|52.218.84.210|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 296163 (289K) [application/zip]
Saving to: ‘DAN-P4-FAO.zip’

     0K .......... .......... .......... .......... .......... 17%  573K 0s
    50K .......... .......... .......... .......... .......... 34%  571K 0s
   100K .......... .......... .......... .......... .......... 51%  573K 0s
   150K .......... .......... .......... .......... .......... 69% 77.9M 0s
   200K .......... .......... .......... .......... .......... 86%  158M 0s
   250K .......... .......... .......... .........            100%  454K=0.3s

2022-05-27 08:25:42 (828 KB/s) - ‘DAN-P4-FAO.zip’ saved [296163/296163]

# **Nettoyage Population**

In [ ]:
population = pd.read_csv('population.csv')
population.head()

          Zone  Année     Valeur
0  Afghanistan   2013  32269.589
1  Afghanistan   2014  33370.794
2  Afghanistan   2015  34413.603
3  Afghanistan   2016  35383.032
4  Afghanistan   2017  36296.113

In [ ]:
# Select * from population where année == 2017
# Convertir les données de la colonne "Valeurs" en milliers puis filtrer la table Population pour garder que les données de l’année 2017
population['Valeur'] *= 1000
df_pop_2017 = pd.read_csv('population.csv')
df_pop_2017 = population[population['Année'] == 2017] 
print(df_pop_2017)

                                        Zone  Année      Valeur
4                                Afghanistan   2017  36296113.0
10                            Afrique du Sud   2017  57009756.0
16                                   Albanie   2017   2884169.0
22                                   Algérie   2017  41389189.0
28                                 Allemagne   2017  82658409.0
...                                      ...    ...         ...
1390  Venezuela (République bolivarienne du)   2017  29402484.0
1396                                Viet Nam   2017  94600648.0
1402                                   Yémen   2017  27834819.0
1408                                  Zambie   2017  16853599.0
1414                                Zimbabwe   2017  14236595.0

[236 rows x 3 columns]

In [ ]:
# Remplacer le nom de la colonne Zone par Pays
df_pop_2017.rename(columns={"Zone": "Pays"}, inplace=True)
df_pop_2017.head()

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

              Pays  Année      Valeur
4      Afghanistan   2017  36296113.0
10  Afrique du Sud   2017  57009756.0
16         Albanie   2017   2884169.0
22         Algérie   2017  41389189.0
28       Allemagne   2017  82658409.0

In [ ]:
# Remplacer le nom de la colonne Valeur par Hab
df_pop_2017.rename(columns={"Valeur": "Hab"}, inplace=True)
df_pop_2017.head()

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

              Pays  Année         Hab
4      Afghanistan   2017  36296113.0
10  Afrique du Sud   2017  57009756.0
16         Albanie   2017   2884169.0
22         Algérie   2017  41389189.0
28       Allemagne   2017  82658409.0

In [ ]:
df_pop_2017.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 236 entries, 4 to 1414
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pays    236 non-null    object
 1   Année   236 non-null    int64
 2   Hab     236 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 7.4+ KB

In [ ]:
df_pop_2017.dtypes

Pays      object
Année      int64
Hab      float64
dtype: object

In [ ]:
# Définir la DF pop_2017 avec la population en 2017 en gardant seulement les colonnes 'Pays' et 'Hab'
pop_2017 = df_pop_2017[df_pop_2017['Année'] == 2017][['Pays', 'Hab']]
pop_2017.head()

              Pays         Hab
4      Afghanistan  36296113.0
10  Afrique du Sud  57009756.0
16         Albanie   2884169.0
22         Algérie  41389189.0
28       Allemagne  82658409.0

# **Nettoyage Sous_nutrition**

In [ ]:
sous_nutrition = pd.read_csv('sous_nutrition.csv')
sous_nutrition.head()

          Zone      Année Valeur
0  Afghanistan  2012-2014    8.6
1  Afghanistan  2013-2015    8.8
2  Afghanistan  2014-2016    8.9
3  Afghanistan  2015-2017    9.7
4  Afghanistan  2016-2018   10.5

In [ ]:
sous_nutrition.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1218 entries, 0 to 1217
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Zone    1218 non-null   object
 1   Année   1218 non-null   object
 2   Valeur  624 non-null    object
dtypes: object(3)
memory usage: 28.7+ KB

In [ ]:
# Convertir les données en float / numerique
sous_nutrition['Valeur'] = pd.to_numeric(sous_nutrition['Valeur'], errors='raise')
sous_nutrition.fillna(0, inplace=True)

ValueError: ignored

In [ ]:
# Rechercher l’élément à la position 60
sous_nutrition.iloc[60].Valeur

'<0.1'

In [ ]:
# Convertir les données en numerique
sous_nutrition['sous_nut'] = pd.to_numeric(sous_nutrition['Valeur'], errors='coerce')

In [ ]:
# Regarder les données NaN
sous_nutrition[sous_nutrition.sous_nut.isnull()]

           Zone      Année Valeur  sous_nut
24    Allemagne  2012-2014    NaN       NaN
25    Allemagne  2013-2015    NaN       NaN
26    Allemagne  2014-2016    NaN       NaN
27    Allemagne  2015-2017    NaN       NaN
28    Allemagne  2016-2018    NaN       NaN
...         ...        ...    ...       ...
1213   Zimbabwe  2013-2015    NaN       NaN
1214   Zimbabwe  2014-2016    NaN       NaN
1215   Zimbabwe  2015-2017    NaN       NaN
1216   Zimbabwe  2016-2018    NaN       NaN
1217   Zimbabwe  2017-2019    NaN       NaN

[714 rows x 4 columns]

In [ ]:
# Convertir les données NaN en 0
sous_nutrition.fillna(0, inplace=True)

In [ ]:
# Normaliser à l'unité
sous_nutrition['sous_nut'] *= 1000000

In [ ]:
# Remplacer le nom Zone par Pays
sous_nutrition.rename(columns={"Zone": "Pays"}, inplace=True)
sous_nutrition.head()

          Pays      Année Valeur    sous_nut
0  Afghanistan  2012-2014    8.6   8600000.0
1  Afghanistan  2013-2015    8.8   8800000.0
2  Afghanistan  2014-2016    8.9   8900000.0
3  Afghanistan  2015-2017    9.7   9700000.0
4  Afghanistan  2016-2018   10.5  10500000.0

In [ ]:
# Remplacer le nom Valeur par MoyHabSousAli
sous_nutrition.rename(columns={"Valeur": "MoyHabSousAli"}, inplace=True)
sous_nutrition.head()

          Pays      Année MoyHabSousAli    sous_nut
0  Afghanistan  2012-2014           8.6   8600000.0
1  Afghanistan  2013-2015           8.8   8800000.0
2  Afghanistan  2014-2016           8.9   8900000.0
3  Afghanistan  2015-2017           9.7   9700000.0
4  Afghanistan  2016-2018          10.5  10500000.0

In [ ]:
# Convertir le type de valeur MoyHabSousAli 'objet' par 'float'
sous_nutrition['MoyHabSousAli'] = pd.to_numeric(sous_nutrition['MoyHabSousAli'], errors='coerce')
sous_nutrition.fillna(0, inplace=True)
sous_nutrition.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1218 entries, 0 to 1217
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Pays           1218 non-null   object
 1   Année          1218 non-null   object
 2   MoyHabSousAli  1218 non-null   float64
 3   sous_nut       1218 non-null   float64
dtypes: float64(2), object(2)
memory usage: 38.2+ KB

In [ ]:
# Selectionner l’année 2017 via .query pour les intervalles
df_sous_nutrition_2017=sous_nutrition.query("Année =='2016-2018'")
print(df_sous_nutrition_2017)

                                        Pays      Année  MoyHabSousAli  \
4                                Afghanistan  2016-2018           10.5
10                            Afrique du Sud  2016-2018            3.1
16                                   Albanie  2016-2018            0.1
22                                   Algérie  2016-2018            1.3
28                                 Allemagne  2016-2018            0.0
...                                      ...        ...            ...
1192  Venezuela (République bolivarienne du)  2016-2018            8.0
1198                                Viet Nam  2016-2018            6.5
1204                                   Yémen  2016-2018            0.0
1210                                  Zambie  2016-2018            0.0
1216                                Zimbabwe  2016-2018            0.0

        sous_nut
4     10500000.0
10     3100000.0
16      100000.0
22     1300000.0
28           0.0
...          ...
1192   8000000.0
1198   6500000.0
1204         0.0
1210         0.0
1216         0.0

[203 rows x 4 columns]

In [ ]:
# Définir la DF "sous_nut_2017" et filtrer l’année 2017 puis garder les colonnes "Pays", "sous_nut"
sous_nut_2017 = df_sous_nutrition_2017[df_sous_nutrition_2017['Année'] == '2016-2018'][["Pays", "sous_nut"]]

# **Nettoyage Aide alimentaire**

In [ ]:
aide_alimentaire = pd.read_csv('aide_alimentaire.csv')
aide_alimentaire.head()

  Pays bénéficiaire  Année              Produit  Valeur
0       Afghanistan   2013  Autres non-céréales     682
1       Afghanistan   2014  Autres non-céréales     335
2       Afghanistan   2013         Blé et Farin   39224
3       Afghanistan   2014         Blé et Farin   15160
4       Afghanistan   2013             Céréales   40504

In [ ]:
# Renommer les colonnes & convertir les données de la colonne "Aide_kg" en milliers
aide_alimentaire.rename(columns={"Pays bénéficiaire": "Pays", "Valeur":"Aide_kg"}, inplace=True)
aide_alimentaire['Aide_kg'] *= 1000
aide_alimentaire.head()

          Pays  Année              Produit   Aide_kg
0  Afghanistan   2013  Autres non-céréales    682000
1  Afghanistan   2014  Autres non-céréales    335000
2  Afghanistan   2013         Blé et Farin  39224000
3  Afghanistan   2014         Blé et Farin  15160000
4  Afghanistan   2013             Céréales  40504000

# **Proportion de personnes en état de sous-nutrition**

In [ ]:
# Merger la table Population de l’année 2017 et la table sous nutrition en 2017
pop_sous_nut_2017 = pop_2017.merge(sous_nut_2017)

In [ ]:
pop_sous_nut_2017.head()

             Pays         Hab    sous_nut
0     Afghanistan  36296113.0  10500000.0
1  Afrique du Sud  57009756.0   3100000.0
2         Albanie   2884169.0    100000.0
3         Algérie  41389189.0   1300000.0
4       Allemagne  82658409.0         0.0

In [ ]:
# Faire le total de la colonne "sous nutrition" dans la table merge (total_pop_sous_nut_2017)
total_pop_sous_nut_2017 =  pop_sous_nut_2017.sous_nut.sum()

In [ ]:
# Faire le total de la colonne "Hab" dans la table merge (total_pop_sous_nut_2017)
total_pop_2017 = pop_sous_nut_2017.Hab.sum()

In [ ]:
# Resultat total des personnes en sous nutrition en 2017 et de la population en 2017
total_pop_sous_nut_2017, total_pop_2017

(535700000.0, 7543798779.0)

In [ ]:
# Calculer la proportion de personnes en état de sous nutrition (des personnes en sous nutrition en 2017/Population totale)*100 avec 2 chiffres après la virgule
f"Proportion de personnes en état de sous nutrition {total_pop_sous_nut_2017/total_pop_2017*100:.2f}%"

'Proportion de personnes en état de sous nutrition 7.10%'

# 🗺 **Disponibilité alimentaire mondiale**

In [ ]:
df_dispo_alim = pd.read_csv('dispo_alimentaire.csv')
df_dispo_alim.head()

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,Abats Comestible,animale,NaN,NaN,5.0,1.72,0.20,0.77,53.0,NaN,NaN,53.0,NaN,53.0,NaN,NaN,NaN
1,Afghanistan,"Agrumes, Autres",vegetale,NaN,NaN,1.0,1.29,0.01,0.02,41.0,2.0,40.0,39.0,2.0,3.0,NaN,NaN,NaN
2,Afghanistan,Aliments pour enfants,vegetale,NaN,NaN,1.0,0.06,0.01,0.03,2.0,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,Ananas,vegetale,NaN,NaN,0.0,0.00,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,Bananes,vegetale,NaN,NaN,4.0,2.70,0.02,0.05,82.0,NaN,82.0,82.0,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Remplacer les NaN par 0 & convertir les données unités en milliers 
df_dispo_alim.fillna(0, inplace=True)

colonnes_millier_tonnes = ['Aliments pour animaux', 'Disponibilité intérieure', 'Exportations - Quantité',
                        'Importations - Quantité', 'Nourriture', 'Pertes', 'Production',
                        'Semences', 'Traitement', 'Variation de stock', 'Autres Utilisations']

for e in colonnes_millier_tonnes:
    df_dispo_alim[e] *= 1000000

In [ ]:
# Remplacer le nom Zone par Pays
df_dispo_alim.rename(columns={"Zone": "Pays"}, inplace=True)
df_dispo_alim.head()

,Pays,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,Abats Comestible,animale,0.0,0.0,5.0,1.72,0.20,0.77,53000000.0,0.0,0.0,53000000.0,0.0,53000000.0,0.0,0.0,0.0
1,Afghanistan,"Agrumes, Autres",vegetale,0.0,0.0,1.0,1.29,0.01,0.02,41000000.0,2000000.0,40000000.0,39000000.0,2000000.0,3000000.0,0.0,0.0,0.0
2,Afghanistan,Aliments pour enfants,vegetale,0.0,0.0,1.0,0.06,0.01,0.03,2000000.0,0.0,2000000.0,2000000.0,0.0,0.0,0.0,0.0,0.0
3,Afghanistan,Ananas,vegetale,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Afghanistan,Bananes,vegetale,0.0,0.0,4.0,2.70,0.02,0.05,82000000.0,0.0,82000000.0,82000000.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# Merger la table Population 2017 avec la table disponibilité alimentaire
dispo_alim_pop_2017 = pop_2017.merge(df_dispo_alim) 
dispo_alim_pop_2017.head()

,Pays,Hab,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,36296113.0,Abats Comestible,animale,0.0,0.0,5.0,1.72,0.20,0.77,53000000.0,0.0,0.0,53000000.0,0.0,53000000.0,0.0,0.0,0.0
1,Afghanistan,36296113.0,"Agrumes, Autres",vegetale,0.0,0.0,1.0,1.29,0.01,0.02,41000000.0,2000000.0,40000000.0,39000000.0,2000000.0,3000000.0,0.0,0.0,0.0
2,Afghanistan,36296113.0,Aliments pour enfants,vegetale,0.0,0.0,1.0,0.06,0.01,0.03,2000000.0,0.0,2000000.0,2000000.0,0.0,0.0,0.0,0.0,0.0
3,Afghanistan,36296113.0,Ananas,vegetale,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Afghanistan,36296113.0,Bananes,vegetale,0.0,0.0,4.0,2.70,0.02,0.05,82000000.0,0.0,82000000.0,82000000.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# Prendre le merge "dispo_alim_pop_2017" en selectionnant la colonne [Dispo alim...] et mutiplier par la dispo_alim_pop_2017 en selectionnant la colonne [Hab]
dispo_alim_pop_2017['dispo_kcal_pop']=(dispo_alim_pop_2017["Disponibilité alimentaire (Kcal/personne/jour)"]*dispo_alim_pop_2017["Hab"])

In [ ]:
# Disponibilité alimentaire total
df_sum_dispo = dispo_alim_pop_2017['dispo_kcal_pop'].sum()

In [ ]:
# Dispo alimentaire totale en kcal par année
f"dispo alimentaire totale en kcal par année: {df_sum_dispo*365}"

'dispo alimentaire totale en kcal par année: 7635429388975815.0'

In [ ]:
# Dispo alimentaire totale en kcal par jour
f"dispo alimentaire totale en kcal par jour: {df_sum_dispo}"

'dispo alimentaire totale en kcal par jour: 20918984627331.0'

# 👩👨🍖 **Calcul du nombre théorique de personnes qui pourraient être nourries** 
Femme = 2200 Kcal /jour & Homme = 2600 Kcal /jour = moyenne : 2400 Kcal/jour/personne

In [ ]:
# Disponibilité totale / par le nombre de calories moyens qu'il faut pour un humain par jour
sum_pers_nourries = df_sum_dispo/2400
print(sum_pers_nourries)
round(sum_pers_nourries)

8716243594.72125

8716243595

In [ ]:
# Proportion de personne nourrie
proportion_pers_nourries = sum_pers_nourries*100/total_pop_2017
round(proportion_pers_nourries, 2)

115.54

# **Disponibilité alimentaire mondiale des produit végétaux**

In [ ]:
dispo_alim_pop_2017.head()

,Pays,Hab,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,dispo_kcal_pop
0,Afghanistan,36296113.0,Abats Comestible,animale,0.0,0.0,5.0,1.72,0.20,0.77,53000000.0,0.0,0.0,53000000.0,0.0,53000000.0,0.0,0.0,0.0,181480565.0
1,Afghanistan,36296113.0,"Agrumes, Autres",vegetale,0.0,0.0,1.0,1.29,0.01,0.02,41000000.0,2000000.0,40000000.0,39000000.0,2000000.0,3000000.0,0.0,0.0,0.0,36296113.0
2,Afghanistan,36296113.0,Aliments pour enfants,vegetale,0.0,0.0,1.0,0.06,0.01,0.03,2000000.0,0.0,2000000.0,2000000.0,0.0,0.0,0.0,0.0,0.0,36296113.0
3,Afghanistan,36296113.0,Ananas,vegetale,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Afghanistan,36296113.0,Bananes,vegetale,0.0,0.0,4.0,2.70,0.02,0.05,82000000.0,0.0,82000000.0,82000000.0,0.0,0.0,0.0,0.0,0.0,145184452.0

In [ ]:
# Selection de 'Origine' et 'Vegetale' dans la table dispo_alim_pop_2017 
dispo_alim_vegetal_2017 = dispo_alim_pop_2017[dispo_alim_pop_2017['Origine'] == 'vegetale']

In [ ]:
# Attribuer à un DF
sum_pers_nourries_par_vegetaux = (dispo_alim_vegetal_2017['dispo_kcal_pop'].sum())*365

In [ ]:
# dispo alimentaire des produits végétaux totale en kcal par an
f"dispo alimentaire des produits végétaux totale en kcal par an: {sum_pers_nourries_par_vegetaux}"

'dispo alimentaire des produits végétaux totale en kcal par an: 6300178937197865.0'

# **La proportion de personnes sous-alimentées est la plus forte en 2017**

In [ ]:
# J'affiche ma table population + sous_nut en 2017
pop_sous_nut_2017.head()

             Pays         Hab    sous_nut
0     Afghanistan  36296113.0  10500000.0
1  Afrique du Sud  57009756.0   3100000.0
2         Albanie   2884169.0    100000.0
3         Algérie  41389189.0   1300000.0
4       Allemagne  82658409.0         0.0

In [ ]:
# Calcul des pays les plus sous-alimentés en 2017 en selectionnant mes colonnes Pays et sous_nut avec .sort_values & ascending=False
prop_pop_sous_nut_2017 = pop_sous_nut_2017.sort_values(by=['sous_nut','Pays'], ascending=False)

In [ ]:
prop_pop_sous_nut_2017.head()

           Pays           Hab     sous_nut
84         Inde  1.338677e+09  190100000.0
136    Pakistan  2.079062e+08   24800000.0
85    Indonésie  2.646510e+08   23600000.0
128     Nigéria  1.908732e+08   22800000.0
16   Bangladesh  1.596854e+08   21500000.0

# 💵:❣ **Pays qui ont le plus bénéficié d’aide alimentaire depuis 2013**

In [ ]:
aide_alimentaire.head()

          Pays  Année              Produit   Aide_kg
0  Afghanistan   2013  Autres non-céréales    682000
1  Afghanistan   2014  Autres non-céréales    335000
2  Afghanistan   2013         Blé et Farin  39224000
3  Afghanistan   2014         Blé et Farin  15160000
4  Afghanistan   2013             Céréales  40504000

In [ ]:
# Select Pays et Aide kg puis groupby Pays
aide_alimentaire_2013 = aide_alimentaire[['Pays','Aide_kg']].groupby('Pays').sum()
aide_alimentaire_2013.head()

               Aide_kg
Pays
Afghanistan  185452000
Algérie       81114000
Angola         5014000
Bangladesh   348188000
Bhoutan        2666000

In [ ]:
# Pays qui ont le plus bénéficié d’aide depuis 2013 avec .sort_values
aide_alimentaire_2013.sort_values(by="Aide_kg",ascending=False).head(10)

                                     Aide_kg
Pays
République arabe syrienne         1858943000
Éthiopie                          1381294000
Yémen                             1206484000
Soudan du Sud                      695248000
Soudan                             669784000
Kenya                              552836000
Bangladesh                         348188000
Somalie                            292678000
République démocratique du Congo   288502000
Niger                              276344000

# **Pays avec plus ou moins de disponibilité alimentaire par habitant**

In [ ]:
# Filtrer l’année 2013 dans la tablette POPULATION
pop_2013 = population[population['Année'] == 2013]
pop_2013.head()

              Zone  Année      Valeur
0      Afghanistan   2013  32269589.0
6   Afrique du Sud   2013  53687121.0
12         Albanie   2013   2903790.0
18         Algérie   2013  38140133.0
24       Allemagne   2013  81174367.0

In [ ]:
# Remplacer le nom Zone par Pays
pop_2013.rename(columns={"Zone": "Pays"}, inplace=True)
pop_2013.head()

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

              Pays  Année      Valeur
0      Afghanistan   2013  32269589.0
6   Afrique du Sud   2013  53687121.0
12         Albanie   2013   2903790.0
18         Algérie   2013  38140133.0
24       Allemagne   2013  81174367.0

In [ ]:
# Merger la table population_2013 avec la table dispo_alimentaire 
dispo_alim_pop_2013 = pd.merge(pop_2013, df_dispo_alim, on='Pays', how='inner')
dispo_alim_pop_2013.head()

,Pays,Année,Valeur,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,2013,32269589.0,Abats Comestible,animale,0.0,0.0,5.0,1.72,0.20,0.77,53000000.0,0.0,0.0,53000000.0,0.0,53000000.0,0.0,0.0,0.0
1,Afghanistan,2013,32269589.0,"Agrumes, Autres",vegetale,0.0,0.0,1.0,1.29,0.01,0.02,41000000.0,2000000.0,40000000.0,39000000.0,2000000.0,3000000.0,0.0,0.0,0.0
2,Afghanistan,2013,32269589.0,Aliments pour enfants,vegetale,0.0,0.0,1.0,0.06,0.01,0.03,2000000.0,0.0,2000000.0,2000000.0,0.0,0.0,0.0,0.0,0.0
3,Afghanistan,2013,32269589.0,Ananas,vegetale,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Afghanistan,2013,32269589.0,Bananes,vegetale,0.0,0.0,4.0,2.70,0.02,0.05,82000000.0,0.0,82000000.0,82000000.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# Les pays ayant le plus de dispo alimentaire en kcal
dispo_alim_pop_2013.sort_values(by=['Disponibilité alimentaire (Kcal/personne/jour)','Pays'], ascending=False)

,Pays,Année,Valeur,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
1331,Bangladesh,2013,152761418.0,Riz (Eq Blanchi),vegetale,1.031000e+09,4.000000e+06,1711.0,171.73,3.78,32.14,3.043200e+10,1000000.0,2.600000e+08,2.689200e+10,1.718000e+09,3.435000e+10,788000000.0,0.0,-4.177000e+09
1085,Azerbaïdjan,2013,9385468.0,Blé,vegetale,5.910000e+08,2.640000e+08,1666.0,222.40,6.68,49.47,3.484000e+09,5000000.0,1.589000e+09,2.093000e+09,7.100000e+07,1.893000e+09,142000000.0,323000000.0,6.000000e+06
14465,Tunisie,2013,10952951.0,Blé,vegetale,1.360000e+08,0.000000e+00,1576.0,197.50,5.72,47.59,2.582000e+09,150000000.0,1.489000e+09,2.172000e+09,2.130000e+08,9.750000e+08,62000000.0,0.0,2.680000e+08
2693,Cambodge,2013,15026332.0,Riz (Eq Blanchi),vegetale,1.880000e+08,2.345000e+09,1518.0,159.10,5.02,30.95,6.088000e+09,376000000.0,4.700000e+07,2.408000e+09,9.390000e+08,6.263000e+09,207000000.0,0.0,1.540000e+08
14551,Turkménistan,2013,5366378.0,Blé,vegetale,8.020000e+08,0.000000e+00,1469.0,188.86,5.32,43.80,2.015000e+09,0.0,7.150000e+08,9.900000e+08,1.200000e+08,1.300000e+09,103000000.0,0.0,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49,Afghanistan,2013,32269589.0,"Sucre, betterave",vegetale,0.000000e+00,0.000000e+00,0.0,0.00,0.00,0.00,1.500000e+07,0.0,0.000000e+00,0.000000e+00,0.000000e+00,1.500000e+07,0.0,15000000.0,0.000000e+00
50,Afghanistan,2013,32269589.0,"Sucre, canne",vegetale,8.100000e+07,0.000000e+00,0.0,0.00,0.00,0.00,9.000000e+07,0.0,0.000000e+00,0.000000e+00,0.000000e+00,9.000000e+07,0.0,9000000.0,0.000000e+00
53,Afghanistan,2013,32269589.0,Tomates,vegetale,0.000000e+00,0.000000e+00,0.0,0.00,0.00,0.00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00
58,Afghanistan,2013,32269589.0,Vin,vegetale,0.000000e+00,0.000000e+00,0.0,0.00,0.00,0.00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00
7575,Japon,2013,128314195.0,Avoine,vegetale,5.000000e+07,1.000000e+06,-21.0,-1.93,-0.03,-0.37,-1.590000e+08,-41000000.0,-2.010000e+08,-2.460000e+08,0.000000e+00,0.000000e+00,0.0,35000000.0,0.000000e+00

In [ ]:
# Les pays ayant le moins de dispo alimentaire en kcal
dispo_alim_pop_2013.sort_values(by=['Disponibilité alimentaire (Kcal/personne/jour)','Pays'], ascending=True)

,Pays,Année,Valeur,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
7575,Japon,2013,128314195.0,Avoine,vegetale,5.000000e+07,1.000000e+06,-21.0,-1.93,-0.03,-0.37,-1.590000e+08,-41000000.0,-2.010000e+08,-2.460000e+08,0.000000e+00,0.000000e+00,0.0,35000000.0,0.000000e+00
3,Afghanistan,2013,32269589.0,Ananas,vegetale,0.000000e+00,0.000000e+00,0.0,0.00,0.00,0.00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00
6,Afghanistan,2013,32269589.0,Bière,vegetale,0.000000e+00,0.000000e+00,0.0,0.09,0.00,0.00,3.000000e+06,0.0,3.000000e+06,3.000000e+06,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00
8,Afghanistan,2013,32269589.0,Boissons Alcooliques,vegetale,0.000000e+00,0.000000e+00,0.0,0.00,0.00,0.00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00
9,Afghanistan,2013,32269589.0,Café,vegetale,0.000000e+00,0.000000e+00,0.0,0.00,0.00,0.00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14551,Turkménistan,2013,5366378.0,Blé,vegetale,8.020000e+08,0.000000e+00,1469.0,188.86,5.32,43.80,2.015000e+09,0.0,7.150000e+08,9.900000e+08,1.200000e+08,1.300000e+09,103000000.0,0.0,0.000000e+00
2693,Cambodge,2013,15026332.0,Riz (Eq Blanchi),vegetale,1.880000e+08,2.345000e+09,1518.0,159.10,5.02,30.95,6.088000e+09,376000000.0,4.700000e+07,2.408000e+09,9.390000e+08,6.263000e+09,207000000.0,0.0,1.540000e+08
14465,Tunisie,2013,10952951.0,Blé,vegetale,1.360000e+08,0.000000e+00,1576.0,197.50,5.72,47.59,2.582000e+09,150000000.0,1.489000e+09,2.172000e+09,2.130000e+08,9.750000e+08,62000000.0,0.0,2.680000e+08
1085,Azerbaïdjan,2013,9385468.0,Blé,vegetale,5.910000e+08,2.640000e+08,1666.0,222.40,6.68,49.47,3.484000e+09,5000000.0,1.589000e+09,2.093000e+09,7.100000e+07,1.893000e+09,142000000.0,323000000.0,6.000000e+06
1331,Bangladesh,2013,152761418.0,Riz (Eq Blanchi),vegetale,1.031000e+09,4.000000e+06,1711.0,171.73,3.78,32.14,3.043200e+10,1000000.0,2.600000e+08,2.689200e+10,1.718000e+09,3.435000e+10,788000000.0,0.0,-4.177000e+09

# **Disponibilité intérieure**

In [ ]:
# Dispo interieure
dispo_interieure = df_dispo_alim["Disponibilité intérieure"].sum()
print(dispo_interieure)

9848994000000.0

In [ ]:
# Calcul dispo interieur totale
df_calcul_dispo_interieur = ((df_dispo_alim['Production']+df_dispo_alim['Importations - Quantité'])-df_dispo_alim['Exportations - Quantité'])+df_dispo_alim['Variation de stock']
df_calcul_dispo_interieur.sum()

9849173000000.0

In [ ]:
# Calcul de la proportion de Pertes
perte = df_dispo_alim["Pertes"].sum()
print(perte)

453698000000.0

In [ ]:
# Calcul de la part que représente les pertes
Part_perte_dispo_inter = perte/dispo_interieure
(Part_perte_dispo_inter*100).round(2)

4.61

In [ ]:
# Calcul de la proportion d'"alimentation animale"
alimentation_animale = df_dispo_alim['Aliments pour animaux'].sum()
print(alimentation_animale)

1304245000000.0

In [ ]:
# Calcul de la part d'"alimentation animale"
part_alimentation_animale_dispo_inter = alimentation_animale/dispo_interieure
(part_alimentation_animale_dispo_inter*100).round(2)

13.24

In [ ]:
# Calcul de la proportion d'"alimentation humaine"
alimentation_humaine = df_dispo_alim["Nourriture"].sum()
print(alimentation_humaine)

4876258000000.0

In [ ]:
# Calcul de la part d'"alimentation humaine"
part_alimentation_humaine_dispo_inter = alimentation_humaine/dispo_interieure
(part_alimentation_humaine_dispo_inter*100).round(2)

49.51

# 👩 🐱 **Repartiton de l'alimentation humaine et vegetale**

In [ ]:
liste_cereales = ["Blé et produits", "Riz et produits", "Orge et produits", "Maïs et produits", "Seigle et produits",
                  "Avoine", "Millet et produits", "Sorgho et produits", "Céréales, Autres"]

#Création d'une table ne contenant que les informations des céréales
cereales = df_dispo_alim.loc[df_dispo_alim['Produit'].isin(liste_cereales),:] 
cereales.head()

,Pays,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
12,Afghanistan,"Céréales, Autres",vegetale,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
67,Afrique du Sud,Avoine,vegetale,8000000.0,0.0,5.0,0.75,0.09,0.16,49000000.0,4000000.0,25000000.0,40000000.0,1000000.0,28000000.0,1000000.0,0.0,0.0
81,Afrique du Sud,"Céréales, Autres",vegetale,8000000.0,0.0,1.0,0.07,0.00,0.02,12000000.0,10000000.0,3000000.0,4000000.0,0.0,19000000.0,0.0,0.0,0.0
162,Albanie,Avoine,vegetale,25000000.0,0.0,1.0,0.13,0.01,0.03,28000000.0,0.0,1000000.0,0.0,1000000.0,27000000.0,1000000.0,0.0,0.0
176,Albanie,"Céréales, Autres",vegetale,0.0,0.0,0.0,0.08,0.00,0.01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
Total_cereales = cereales['Disponibilité alimentaire en quantité (kg/personne/an)'].sum()

In [ ]:
f"Dispo cereales {Total_cereales/dispo_interieure*100}"

'Dispo cereales 3.5046218933629154e-09'

In [ ]:
# Calcul de la part que représente les pertes
Part_perte_dispo_inter = perte/dispo_interieure
(Part_perte_dispo_inter*100).round(2)

4.61

In [ ]:
# Calcul de la proportion d'alimentation animale >> (Aliments pour animaux.sum/dispo totale interieur)*100
Proportion_alimentation_animaux= (df_dispo_alim['Aliments pour animaux'].sum()/df_dispo_alim['Disponibilité intérieure'].sum())*100
print(Proportion_alimentation_animaux)
f"Proportion de la dispo alimentaire animale totale: {Proportion_alimentation_animaux:.2f}%"

13.242418464261426

'Proportion de la dispo alimentaire animale totale: 13.24%'

# **Proportion en sous nutrition en Thaïlande**

In [ ]:
# La sous_nutrition en Thailande
sous_nutrition_thailande = sous_nutrition.loc[sous_nutrition['Pays'] == 'Thaïlande']
sous_nutrition_thailande.head()

           Pays      Année  MoyHabSousAli   sous_nut
1110  Thaïlande  2012-2014            6.2  6200000.0
1111  Thaïlande  2013-2015            6.0  6000000.0
1112  Thaïlande  2014-2016            5.9  5900000.0
1113  Thaïlande  2015-2017            6.0  6000000.0
1114  Thaïlande  2016-2018            6.2  6200000.0

In [ ]:
# Calcul de la population en Thailande
pop_thailande = population.loc[population['Zone'] == 'Thaïlande'].sum()
print(pop_thailande)

Zone      ThaïlandeThaïlandeThaïlandeThaïlandeThaïlandeT...
Année                                                 12093
Valeur                                          412907346.0
dtype: object

In [ ]:
# Convertir le type de donnée "Valeur" en float
pop_thailande = pd.to_numeric(pop_thailande['Valeur'], errors='coerce')

In [ ]:
# Definir une DF de toutes les personnes en sous_nutrition
pers_en_sous_nut = sous_nutrition['sous_nut']

In [ ]:
# Calculer la sum des personnes en sous_nutrition
pers_en_sous_nut = sous_nutrition['sous_nut'].sum()
print(pers_en_sous_nut)

3184800000.0

In [ ]:
# Proportion en sous nutrition en Thaïlande (sous_nutrition totale/population en Thailande)
Prop_sous_nut_thailande = (pers_en_sous_nut/pop_thailande)
print(Prop_sous_nut_thailande)
f"Proportion en sous nutrition en Thaïlande: {Prop_sous_nut_thailande:.2f}%"

7.713110534003432

'Proportion en sous nutrition en Thaïlande: 7.71%'

# **Proportion de manioc exporté**

In [ ]:
# Isoler le pays Thailande de la table dispo alimentaire
dispo_alim_thailande = df_dispo_alim[df_dispo_alim['Pays'] == 'Thaïlande']
dispo_alim_thailande.head()

,Pays,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
13759,Thaïlande,Abats Comestible,animale,0.0,0.0,3.0,1.11,0.09,0.56,74000000.0,5.000000e+06,33000000.0,75000000.0,0.0,4.500000e+07,0.0,0.0,0.0
13760,Thaïlande,"Agrumes, Autres",vegetale,0.0,0.0,0.0,0.09,0.00,0.00,8000000.0,6.000000e+06,2000000.0,6000000.0,0.0,1.200000e+07,0.0,2000000.0,0.0
13761,Thaïlande,"Alcool, non Comestible",vegetale,0.0,358000000.0,0.0,0.00,0.00,0.00,358000000.0,1.100000e+08,21000000.0,0.0,0.0,4.470000e+08,0.0,0.0,0.0
13762,Thaïlande,Aliments pour enfants,vegetale,0.0,0.0,2.0,0.18,0.01,0.08,12000000.0,7.000000e+06,19000000.0,12000000.0,0.0,0.000000e+00,0.0,0.0,0.0
13763,Thaïlande,Ananas,vegetale,0.0,0.0,10.0,10.02,0.04,0.08,782000000.0,1.449000e+09,9000000.0,671000000.0,110000000.0,2.209000e+09,0.0,0.0,13000000.0

In [ ]:
# Isoler le produit Manioc de la table dispo alimentaire
produit_manioc_thailande = dispo_alim_thailande[dispo_alim_thailande['Produit'] == 'Manioc']
produit_manioc_thailande.head()

,Pays,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
13809,Thaïlande,Manioc,vegetale,1.800000e+09,2.081000e+09,40.0,13.0,0.05,0.14,6.264000e+09,2.521400e+10,1.250000e+09,871000000.0,1.511000e+09,3.022800e+10,0.0,0.0,0.0

In [ ]:
# Sum de l'exportation du Manioc en Thailande
sum_exportation_manioc = produit_manioc_thailande['Exportations - Quantité'].sum()

In [ ]:
# Afficher le resultat de l'exportation du Manioc en Thailande
print(sum_exportation_manioc)
f"Somme de l'exportation du Manioc en Thailande : {sum_exportation_manioc}"

25214000000.0

"Somme de l'exportation du Manioc en Thailande : 25214000000.0"

In [ ]:
# Calcul de la production totale de Manioc en Thailande
production_manioc_total_thailande = produit_manioc_thailande['Production'].sum()

In [ ]:
# Afficher le resultat de la production totale de Manioc en Thailande
print(production_manioc_total_thailande)
f"Somme de l'exportation du Manioc en Thailande : {production_manioc_total_thailande}"

30228000000.0

"Somme de l'exportation du Manioc en Thailande : 30228000000.0"

In [ ]:
# Calcul de la proportion de manioc exporté (somme de l'exportation de manioc en thai/production de manioc)*100
proportion_de_manioc_exporté = (sum_exportation_manioc/production_manioc_total_thailande)*100

In [ ]:
# Proportion de manioc exporté
print(proportion_de_manioc_exporté)
f"Proportion de manioc exporté : {proportion_de_manioc_exporté:.2f}%"

83.41272991928014

'Proportion de manioc exporté : 83.41%'

In [ ]:
# Calcul de la proportion d'alimentation humaine >> (nourriture.sum/dispo totale interieur)*100
Proportion_alimentation_humaine=(df_dispo_alim['Nourriture'].sum()/df_dispo_alim['Disponibilité intérieure'].sum())*100
print(Proportion_alimentation_humaine)
f"Proportion de la dispo alimentaire humaine totale: {Proportion_alimentation_humaine:.2f}%"

49.51021393657058

'Proportion de la dispo alimentaire humaine totale: 49.51%'